[submodule "LuaAide"]
	path = LuaAide
	url = http://github.com/vorgestern/LuaAide.git
[submodule "lodepng"]
	path = lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "ulutest"]
	path = ulutest
	url = https://github.com/vorgestern/ulutest.git
